# Cuaderno Auxiliar
## Proposito: ejecutarse una sola vez para convertir los datasets originales a .CSV
Los datasets originales se encuentran en `datasets/`, y estan en formato `.xlsx`
Para evitar tener que cargar desde excel los datos cada vez que se ejecuta el cuaderno, se crea este espacio donde se convierten una unica vez para dejarlos en `.csv` con ayuda de Pandas.

In [2]:
!pip install openpyxl --quiet
import pandas as pd

In [3]:
gtd = pd.read_excel("datasets/GTD.xlsx", engine='openpyxl')
gtd

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaT,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaT,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaT,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaT,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaT,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209701,202012310015,2020,12,31,2020-12-31 00:00:00,0,NaT,228,Yemen,10,...,NaN,"""Al Houthi militia escalated in Hays and targe...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
209702,202012310016,2020,12,31,2020-12-31 00:00:00,0,NaT,228,Yemen,10,...,NaN,"""Al Houthi militia escalated in Hays and targe...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
209703,202012310017,2020,12,31,NaN,0,NaT,75,Germany,8,...,NaN,"""Far-left arson attack suspected on German asy...","""Fire of Bundeswehr vehicles in Leipzig, proba...","""Anarchist Antifa Take Credit for Arson Attack...",START Primary Collection,-9,-9,0,-9,NaN
209704,202012310018,2020,12,31,NaN,0,NaT,4,Afghanistan,6,...,NaN,"""Civil society activist and tribal elder kille...","""Terrorism Digest: 1-2 Jan 21,"" BBC Monitoring...",NaN,START Primary Collection,-9,-9,0,-9,NaN
209705,202012310019,2020,12,31,NaN,1,NaT,33,Burkina Faso,11,...,NaN,"""Terrorism Digest: 3-4 Jan 21,"" BBC Monitoring...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN

In [4]:
wgi_raw = pd.read_excel("datasets/WGI.xlsx", sheet_name="Data", engine="openpyxl")
wgi_raw

,Country Name,Country Code,Series Name,Series Code,1996 [YR1996],1998 [YR1998],2000 [YR2000],2002 [YR2002],2003 [YR2003],2004 [YR2004],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,Control of Corruption: Estimate,CC.EST,-1.291705,-1.176012,-1.271724,-1.251137,-1.34418,-1.350647,...,-1.364934,-1.354713,-1.540228,-1.530075,-1.502876,-1.41931,-1.493361,-1.152266,-1.183684,-1.154932
1,Afghanistan,AFG,Government Effectiveness: Estimate,GE.EST,-2.175167,-2.102292,-2.173946,-1.587687,-1.175768,-0.945146,...,-1.361646,-1.397395,-1.291468,-1.386597,-1.501758,-1.519113,-1.611539,-1.670588,-1.880035,-1.987014
2,Afghanistan,AFG,Regulatory Quality: Estimate,RQ.EST,-2.09033,-2.062872,-2.080253,-1.811546,-1.463108,-1.511549,...,-1.124134,-1.018826,-1.339695,-1.36301,-1.138204,-1.113778,-1.389163,-1.311682,-1.271806,-1.266425
3,Afghanistan,AFG,Rule of Law: Estimate,RL.EST,-1.788075,-1.734887,-1.780661,-1.673473,-1.558294,-1.693925,...,-1.437702,-1.516201,-1.522534,-1.581176,-1.689124,-1.7421,-1.831407,-1.877234,-1.659846,-1.649641
4,Afghanistan,AFG,Voice and Accountability: Estimate,VA.EST,-1.90854,-2.039301,-2.031417,-1.433421,-1.177571,-1.203034,...,-1.135523,-1.117628,-1.037837,-0.990954,-1.007687,-1.006713,-1.078267,-1.568389,-1.753529,-1.852901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,Data from database: Worldwide Governance Indic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1074,Last Updated: 11/05/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Guardado en CSV para lecturas futuras (mas rapido que usar openpyxl para cargar a memoria)

In [5]:
gtd.to_csv("datasets/GTD.csv", index=False)
wgi_raw.to_csv("datasets/WGI.csv", index=False)